@charset "utf-8";
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
/* section. visual */
.main{
    width: 100%; overflow: hidden; background: #f7f7f7; height: 100vh;
    margin-bottom:80px;
}
.main .inner{
    width: 1660px; margin:20px auto 0;  margin-top: 280px;
    position: relative;
}
.main .inner .titBox{
    font-size: 180px; text-align: center;
    width: 80%; line-height: 0.85; position: relative; z-index: 1; 
    transform: translateY(40px);
}
.main .inner .titBox::before{
    content:''; position:absolute; background: rgba(249, 196, 8, 0.8);
    height: 250px; border-radius: 50%; z-index:-1; 
    right:16%; top:0; width: 280px;
}
.main .inner .titBox span{
    display: block; -webkit-text-stroke: 1px #000; color:transparent;
    margin-left: 55%; 
}
.main .inner .txtBox{
    position: absolute; top:-15%; right:12%;
}

/* flowText */
.text_flow_container{
    width: 100%; margin-bottom: 150px;
}
.text_flow_wrap{
    display:flex; flex: 0 0 auto; white-space: nowrap;
    overflow: hidden; transition: 0.3s; 
}
.text_flow_wrap h2{
    font-size: 55px; font-weight: 800; color: #000;
    padding-right: 100px; 
    animation: textFlow 15s linear infinite;
}
.text_flow_wrap:hover h2{
    animation-play-state: paused; cursor:pointer; transition: 0.5s ease;
}
@keyframes textFlow {
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(-100%,0,0);
    }
    
}


/* section.publishing */
.publishing{
    width: 100%; overflow: hidden; height: 100vh; margin-bottom:50px;
}
.publishing .inner{
    width: 1660px; margin:20px auto 0;  margin-top: 150px; display: flex;
}
.publishing .inner .leftTit{
    width: 30%;
}
.publishing .inner .leftTit h2{
    font-size: 60px; font-weight: 500; padding-left: 50px; box-sizing: border-box;
    padding-top: 450px; position:relative;
}
.publishing .inner .leftTit h2:after{
    position:absolute; content:'오른쪽 이미지를 드래그 해 보세요!'; 
    font-family: 'Noto Sans KR', sans-serif; font-weight: 300; font-size: 1rem; 
    bottom:20%; left:20%; color:rgb(0.0.0.0.8); animation: blink_ani 0.5s linear infinite;
}

/* 깜빡거리는 글씨 애니메이션 */
@keyframes blink_ani {
    0%{
        opacity:1; transition: opacity 0.3s ease;
    }
    100%{
        opacity:0; transition: opacity 0.3s ease;
    }
    
}
.publishing .inner .swiper{
    margin-left: 30px; width: 70%;  height: 800px;
}
.publishing .inner .mySwiper_1 swiper-slide{
    position:relative;
}
.publishing .inner .mySwiper_1 .imgBox{
    width: 220px; height: 270px; position:relative;
    transform: scale(0.8);
}
.publishing .inner .mySwiper_1 .imgBox a{
    display: block; width: 100%; height: 100%; position: relative;
}
.publishing .inner .mySwiper_1 .imgBox a:before{
    content:'MORE →';font-family: 'Cabinet Grotesk', sans-serif;
    z-index:3; position:absolute; font-style: italic; font-weight: 500;
    top:50%; left: 50%; transform: translate(-50%, -50%);
    color:transparent;
}
.publishing .inner .mySwiper_1 .imgBox a:after{
    content:''; position:absolute; background-color:rgba(255,255,255, 0.6);
    top:50%; left: 50%; transform: translate(-50%, -50%); width:100%;
    height: 0%; z-index:1;
}

.publishing .inner .mySwiper_1 .imgBox img{
    width: 100%; height: 100%;
}
.publishing .inner .swiper .swiper-slide .textBox h2.cab{
    margin-left: 25px;
}

.publishing .swiper-slide .textBox .details{
    color:transparent;
}

/* slide-active 슬라이드 센터부분이 활성화 될 때*/
.publishing .swiper-slide.swiper-slide-active .imgBox{
    transform: scale(1.0); transition: all 0.5s ease;
}
/* slide-active시 hover 효과 */
.publishing .swiper-slide.swiper-slide-active .imgBox a:hover::after,
.publishing .swiper-slide.swiper-slide-active .imgBox a:focus::after{
    height: 100%; transition: all 0.5s ease;
}
.publishing .swiper-slide.swiper-slide-active .imgBox a:hover::before,
.publishing .swiper-slide.swiper-slide-active .imgBox a:focus::before{
    color:#FF4E00;
}

.publishing .inner .swiper .swiper-slide.swiper-slide-active .textBox .sTxt{
    position:absolute; font-size: 1.2vw; transform: rotate(-90deg);
    top:9%; left:-45%; transition: all 0.5s ease;
}
.publishing .inner .swiper .swiper-slide.swiper-slide-active .textBox .bTxt{
    position:absolute; font-size: 2vw; right:0; top: 31%;
    transition: all 0.5s ease;
}
.publishing .swiper-slide.swiper-slide-active .textBox .details{
    margin-top: 45px; 
}

.publishing .swiper-slide.swiper-slide-active .textBox .details p{
    color:#000; font-weight: 400; font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem; animation: text_left 0.3s ease;
}
@keyframes text_left {
    0%{
        opacity:0; transform:translateX(-200px); transition: all 0.3s ease;
    }
    100%{
        opacity:1;transform:translateX(0px); transition: all 0.5s ease;
    }
}
/* active가 지속되는 순간만 oapacity가 1이 됨. 그래서 opacity 속성을 주기보다 color로 텍스트를 투명에서
검정색으로 변화시키는 것이 나음. */

/* swiper-pagination-fraction 페이지넘버 */
.publishing .swiper-pagination-fraction{
    position:absolute; bottom: 38%; width: auto; color:transparent; 
    right:0;
}
.publishing .swiper-pagination-fraction:before{
    content:''; position:absolute; width: 10%; height: 1px; background:#000;
    right: 10%; top: 50%; z-index: 100;
}
.publishing .swiper-pagination-fraction:after{
    content:''; position:absolute; width: 10%; height: 1px; background:#fff;
    right: 10%; top: 50%; 
}
.publishing .swiper-pagination-current{
    color: #000; position:absolute; right:22%; font-weight: 700;
}
.publishing .swiper-pagination-total{
    color:#000;position:absolute; right:7%; font-weight: 700;
}


/* section ncs */
.ncsProcess{
    width: 100%; overflow: hidden; height: 900px; margin-bottom:80px;
    color:#fff;
}
.ncsProcess .inner{
    width: 1660px; margin:20px auto 0;  margin-top: 150px; display: flex;
}
.ncsProcess .inner .leftTit{
    width: 30%;
}
.ncsProcess .inner .leftTit h2{
    font-size: 60px; font-weight: 500; padding-left: 50px; box-sizing: border-box;
    padding-top: 450px; color:#fff; position:relative;
}
.ncsProcess .inner .leftTit h2:after{
    position:absolute; content:'오른쪽 이미지를 드래그 해 보세요!'; 
    font-family: 'Noto Sans KR', sans-serif; font-weight: 300; font-size: 1rem; 
    bottom:20%; left:20%; color:rgb(255, 255, 255,0.8); animation: blink_ani 0.5s linear infinite;
}


.ncsProcess .inner .swiper{
    margin-left: 30px; width: 70%;margin-top: 100px;
}
.ncsProcess .inner .mySwiper_2 .imgBox{
    width:320px; height: 200px; transform:scale(0.8);
}
.ncsProcess .inner .mySwiper_2 .imgBox a{
    display: block; width: 100%; height: 100%; position: relative;
}
.ncsProcess .inner .mySwiper_2 .imgBox a:before{
    content:'MORE →';font-family: 'Cabinet Grotesk', sans-serif;
    z-index:3; position:absolute; font-style: italic; font-weight: 500;
    top:50%; left: 50%; transform: translate(-50%, -50%);
    color:transparent;
}
.ncsProcess .inner .mySwiper_2 .imgBox a:after{
    content:''; position:absolute; background-color:rgba(255,255,255, 0.8);
    top:50%; left: 50%; transform: translate(-50%, -50%); width:100%;
    height: 0%; z-index:1;
}
.ncsProcess .inner .mySwiper_2 .imgBox img{
    width: 100%; height: 100%;
}

/* slide-active 슬라이드 센터부분이 활성화 될 때*/

.ncsProcess .swiper-slide.swiper-slide-active .imgBox{
    transform: scale(1.0); transition: all 0.5s ease;
}
/* slide-active시 hover 효과 */
.ncsProcess .swiper-slide.swiper-slide-active .imgBox a:hover::after,
.ncsProcess .swiper-slide.swiper-slide-active .imgBox a:focus::after{
    height: 100%; transition: all 0.6s ease;
}
.ncsProcess .swiper-slide.swiper-slide-active .imgBox a:hover::before,
.ncsProcess .swiper-slide.swiper-slide-active .imgBox a:focus::before{
    color:#FF4E00;transition: all 0.8s ease;
}
.ncsProcess .swiper-slide .textBox p.sans{
    color:#000; 
}

/* .publishing .swiper-slide.swiper-slide-active .textBox .details a{
    color:#000; font-weight: 400; margin-left:-15px; display: block;
    font-size: 1vw; padding: 5px 15px; border-radius: 40px;
    font-style: italic; mar
} */
.ncsProcess .swiper-slide.swiper-slide-active .textBox p.sans{
    color:#fff; font-weight: 100; font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem; animation: text_left 0.3s ease; margin-top: 40px;
    line-height: 1.5;
}



/* swiper-pagination-fraction 페이지 넘버*/
.ncsProcess .swiper-pagination-fraction{
    position:absolute; bottom: 0%; width: auto; color:transparent; 
    right:0;
}
.ncsProcess .swiper-pagination-fraction:before{
    content:''; position:absolute; width: 10%; height: 1px; background:#fff;
    right: 10%; bottom: 50%; z-index: 100;
}
.ncsProcess .swiper-pagination-fraction:after{
    content:''; position:absolute; width: 10%; height: 1px; background:#000;
    right: 10%; top: 50%; 
}
.ncsProcess .swiper-pagination-current{
    color: #FFF; position:absolute; right:22%; font-weight: 700;
}
.ncsProcess .swiper-pagination-total{
    color:#fff;position:absolute; right:7%; font-weight: 700;
}

/* section.study */
.study{
    width: 100%; overflow: hidden; height: 1500px;
    margin-bottom: 50px;
}
.scroll_container{
    width: 100%; margin-bottom: 280px;
}
.scroll_container .scrollTxt{
    font-size: 200px; font-weight: 800; -webkit-text-stroke: 1px #000;
    color:transparent;
}
.scroll_container .scrollTxt:nth-child(2){
    float:right;
}
.study .inner{
    padding: 50px 0; box-sizing: border-box;
    width: 1660px; margin:20px auto 0px; 
}
.study .inner .log{
    display: flex; flex-wrap: wrap; margin-left: 98px;
}
.study .inner .log li{
    width: 30%; height: 240px; 
    margin: 10px 35px 150px 10px; padding: 20px; box-sizing: border-box;
}
.study .inner .log li a{
    color:#fff; background: #000; display: block; 
    width: 60%; height: 70%; margin-left: 40px;
    font-weight: 400; padding: 30px; border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    position: relative; transition:0.3s ease;
}
.study .inner .log li a:after{
    content:'2022. 11. 28.'; position: absolute; right:10%; bottom: 12%;
    font-size: 15px; font-family: 'Noto Sans KR', sans-serif;
}
.study .inner .log li a:hover, .study .inner .log li a:focus{
    color:#000; background: #FFD500; transform:translateY(-10px);
}
.study .inner .log li a h3{
    margin-bottom: 20px; font-weight: 400; font-size: 18px;
}
.study .inner .log li:nth-child(2), .study .inner .log li:nth-child(5){
    transform:translateY(-40px);
}
.study .inner .log li:nth-child(3n){
    transform:translateY(40px);
}
.study .inner a.cab{
    background: #000; color:#fff; display: inline-block;border-radius: 40px;
    padding: 12px 25px; text-align: center; margin-left: 775px;
}
.study .inner a.cab:hover, .study .inner a.cab:focus{
    background: #ffd500; color:#000; transition: all 0.2s ease;
    box-shadow:3px 3px 5px rgba(0,0,0, 0.2);
}

/* responsive web */
/* 1720px~1401px */
@media screen and (max-width:1720px){
    body{transition: all 0.5s ease;}
    /* section.main */
    .main{width: 100%;height: 100vh;}
    .main .inner{max-width:95%; margin-top: 280px;}
    .main .inner .titBox{transform: translate(-20px,-30px);font-size: 12vw; 
    line-height: 0.85;}
    .text_flow_container{
        width: 100%; margin-bottom: 30px;
    }

    /* section publishing */
    .publishing{width: 100%;height: 1150px;}
    .publishing .inner{max-width: 95%; flex-direction: column; justify-content: space-between;}
    .publishing .inner .leftTit{width: 95%; text-align: center; margin-bottom: 120px;
    transform: translateY(50px);}
    .publishing .inner .leftTit h2{padding-top: 10px;}
    .publishing .inner .leftTit h2:after{content:'이미지를 좌우로 드래그 해 보세요!'; 
    left:43%; top:110%;}
    .publishing .inner .swiper{width: 98%; margin: 50px 10px 0 100px;}
    .publishing .inner .mySwiper_1 .imgBox{
        width: 230px; height: 280px;
        margin-bottom: 50px; transform: scale3d(0.8) translateY(15px);
    }
    .publishing .inner .mySwiper_1 .textBox{
        transform: translateY(-50px);
    }
    
    .publishing .inner .swiper .textBox .sTxt{
        font-size: 1.2vw;
    }
    .publishing .inner .swiper .textBox .bTxt{
        font-size: 1.8vw;
    }
    /* 활성화 */
    .publishing .swiper-slide.swiper-slide-active .imgBox{
        transform: scale(1.1); transition: all 0.5s ease;
    }
    .publishing .inner .swiper .swiper-slide.swiper-slide-active .textBox{
        transform: translateX(10px); 
    }
    .publishing .inner .swiper .swiper-slide.swiper-slide-active .textBox .sTxt{
        font-size: 1.5vw; left:-35%; top:-600%;
    }
    .publishing .inner .swiper .swiper-slide.swiper-slide-active .textBox .bTxt{
        right:20%; top: -200%; font-size: 3vw;
    }
    .publishing .swiper-slide.swiper-slide-active .textBox .details{
        margin-top: 80px; transform: translateX(-20px);
    }
    .publishing .swiper-slide.swiper-slide-active .textBox .details p{
        font-size: 1.0rem;
    }
    .publishing .swiper-pagination-fraction{
        bottom: 40%; right: 8%;
    }
    .publishing .swiper-pagination-fraction:before, .publishing .swiper-pagination-fraction:after{
        right: 11.7%; width: 9%;
    }
    .publishing .swiper-pagination-total{
        right: 9%;
    }
    /* nth-child gal4 */
    .publishing .inner .swiper .gal4.swiper-slide-active .textBox .sTxt{
        font-size: 1.5vw; left:-35%; top:-400%;
    }
    .publishing .inner .swiper .gal4.swiper-slide-active .textBox .bTxt{
        right:23%; top: -135%; font-size: 3vw;
    }
    /* gal7 */
    .publishing .inner .swiper .gal7.swiper-slide-active .textBox .sTxt{
        font-size: 1.5vw; left:-36%; top:-400%;
    }
    .publishing .inner .swiper .gal7.swiper-slide-active .textBox .bTxt{
        right:19%; top: -125%; font-size: 3vw;
    }
     /* gal9 */
    .publishing .inner .swiper .gal9.swiper-slide-active .textBox .sTxt{
        font-size: 1.5vw; left:-36%; top:-400%;
    }
    .publishing .inner .swiper .gal9.swiper-slide-active .textBox .bTxt{
        right:19%; top: -125%; font-size: 3vw;
    }

    /* NCS */
    .ncsProcess{width: 100%; height: 1150px; }
    .ncsProcess .inner{max-width: 95%; flex-direction: column; justify-content: space-between;
    padding-bottom: 200px; }
    .ncsProcess .inner .leftTit{width: 95%; text-align: center; margin-bottom: 120px;
        transform: translateY(50px);}
    .ncsProcess .inner .leftTit h2{padding-top: 42px;}
    .ncsProcess .inner .leftTit h2:after{
        content:'이미지를 좌우로 드래그 해 보세요!';
        left:43%; top:110%; 
    }
    .ncsProcess .inner .swiper{width:90%; margin: 50px 10px 0 100px;
    }
    .ncsProcess .swiper-slide.swiper-slide-active .textBox p.sans{
        margin-top: 70px; margin-bottom: 60px;
    }
    .ncsProcess .swiper-pagination-fraction{
        bottom:0%; right:6%; z-index: 100;
    }
    .ncsProcess .swiper-pagination-fraction:before, .ncsProcess .swiper-pagination-fraction:after{
        right: 11%;
    }
    .ncsProcess .swiper-pagination-total{
        right: 8%;
    }
    .study{
        width: 100%;
    }
    .scroll_container{
        max-width: 99%;
    }
    .study .inner{max-width: 95%;}
    .study .inner .log{margin-left: 10px;}
    .study .inner .log li{margin: 10px -15px 150px 30px;  height: 230px; 
    width: 32%;}
    .study .inner a.cab{margin-left: 42vw; transition:all 0.5s ease;}
}

@media screen and (max-width: 1400px){
    .main{width: 100%;}
    .main .inner{max-width: 95%;}
    .main .inner .txtBox{font-size: 1.2vw;
    top: -70%; right: 10%;}
    .main .inner .titBox{transform: translate(-20px,-100px);font-size: 12vw; 
        line-height: 0.85;}
    .main .inner .titBox::before{
        width: 200px; height: 180px;  right:15%; top:0;
    }
    
    /* publishing */
    .publishing .inner .leftTit{margin-bottom: 120px;transform: translateY(10px);}
    .publishing .inner .leftTit h2{font-size: 4.5vw; padding-left: 85px;}
    .publishing .inner .leftTit h2:after{left: 43%;}
    .publishing .inner .swiper{width: 93%;}
    .publishing .inner .swiper .swiper-slide.swiper-slide-active .textBox .sTxt{
        left:-41%; top:-620%; font-size: 1.6vw;
    }
    .publishing .inner .swiper .swiper-slide.swiper-slide-active .textBox .bTxt{
        right:20%; top: -180%;
    }
    .publishing .swiper-slide.swiper-slide-active .textBox .details p{
        width: 85%;
    }
    .publishing .swiper-slide.swiper-slide-active .textBox p br.mo{display: none;}
    .publishing .swiper-pagination-fraction{right: 5%;}
    /* nth-child gal1 */
    .publishing .inner .swiper .gal1.swiper-slide-active .textBox .sTxt{
        left:-40%; top:-415%;
    }
    .publishing .inner .swiper .gal1.swiper-slide-active .textBox .bTxt{
        right:18%; top: -127%;
    }
    /* gal2 */
    .publishing .inner .swiper .gal2.swiper-slide-active .textBox .sTxt{
        left:-40%; top:-415%;
    }
    .publishing .inner .swiper .gal2.swiper-slide-active .textBox .bTxt{
        right:18%; top: -127%;
    }
    /* gal4 */
    .publishing .inner .swiper .gal4.swiper-slide-active .textBox .sTxt{
        left:-40%; top:-310%;
    }
    .publishing .inner .swiper .gal4.swiper-slide-active .textBox .bTxt{
        right:18%; top: -90%;
    }
    .publishing .inner .swiper .gal4.swiper-slide-active .textBox br.mo{display: none;}
    /* gal6 */
    .publishing .inner .swiper .gal6.swiper-slide-active .textBox .sTxt{
        left:-41%; top:-620%;
    }
    .publishing .inner .swiper .gal6.swiper-slide-active .textBox .bTxt{
        right:16%; top: -180%;
    }
    /* gal7 */
    .publishing .inner .swiper .gal7.swiper-slide-active .textBox .sTxt{
        left:-40%; top:-310%;
    }
    .publishing .inner .swiper .gal7.swiper-slide-active .textBox .bTxt{
        right:16%; top: -92%;
    }
    /* gal8 */
    .publishing .inner .swiper .gal8.swiper-slide-active .textBox .sTxt{
        left:-41%; top:-415%;
    }
    .publishing .inner .swiper .gal8.swiper-slide-active .textBox .bTxt{
        right:17%; top: -120%;
    }
    /* gal9 */
    .publishing .inner .swiper .gal9.swiper-slide-active .textBox .sTxt{
        left:-41%; top:-415%;
    }
    .publishing .inner .swiper .gal9.swiper-slide-active .textBox .bTxt{
        right:17%; top: -120%;
    }


    /* ncs */
    .ncsProcess .inner .leftTit h2{font-size: 4.5vw; padding-left: 100px;}
    .ncsProcess .inner .leftTit h2:after{left: 44%;}
    .ncsProcess .inner .swiper{width: 88%;}
    .ncsProcess .inner .mySwiper_2 .imgBox{
        width:260px; height: 160px; transform:scale(0.8);
    }
    .ncsProcess .swiper-slide.swiper-slide-active .imgBox{
        transform: scale(1.0); transition: all 0.5s ease;
    }
    .ncsProcess .swiper-slide.swiper-slide-active .textBox p.sans{
        margin-top: 80px;width: 90%;
        margin-bottom: 65px;
    }
    .ncsProcess .swiper-slide.swiper-slide-active .textBox p.sans br.mo{
        display: none; 
    }
    .ncsProcess .swiper-pagination-fraction{right:3%;}
    
    
    /* study */
    .scroll_container .scrollTxt{
        font-size: 182px;
    }
    .study{width: 100%;}
    .study .inner {
        max-width: 95%;
    }
    .study .inner .log{
        margin-left: 19px;
    }
    .study .inner .log li{
        margin-left: 12px;
    }
    .study .inner .log li a h3{font-size: 17px;}
    .study .inner a.cab{margin-left: 42vw; transition:all 0.5s ease;}
}
/* 1024이하 tablet  768까지*/
@media screen and (max-width:1000px){
    .main{width: 100%;}
    .main .inner{max-width: 95%;}
    .main .inner .titBox{font-size: 14vw;
    transform:translateX(-55px) translateY(85px);}
    .main .inner .titBox::before{
        width: 180px; height: 150px;  right:6%; top:0;
    }
    .main .inner .txtBox{font-size: 1.7vw;}

    .publishing{width: 100%;}
    .publishing .inner{
        max-width: 95%;overflow: hidden;
    }
    .publishing .inner .leftTit h2{font-size: 6vw;}
    .publishing .inner .leftTit h2:after{left: 42%; font-size: 0.9rem;}
    .publishing .inner .swiper{width: 95%;
    margin-left: 80px;}
    .publishing .inner .swiper .swiper-slide{transform: translateX(-100px);}
    .publishing .inner .swiper .swiper-slide.swiper-slide-active .textBox .sTxt{
        left: -40%; font-size:2.5vw;
    }
    .publishing .inner .swiper .swiper-slide.swiper-slide-active .textBox .bTxt{
        right:20%; top: -130%; font-size:5vw;
    }
    .publishing .swiper-pagination-total{right: 8%;}
    .publishing .swiper-slide.swiper-slide-active .textBox .details p{
        width: 80%; 
    }
    .publishing .swiper-pagination-fraction{
        right: 10%; bottom: 33%;
    }
    .publishing .swiper-pagination-current{right: 22%;}
    .publishing .swiper-pagination-total{right: 8%;}

    .ncsProcess{width: 100%;}
    .ncsProcess .inner{max-width: 95%;}
    .ncsProcess .inner .leftTit h2 {
        font-size: 6vw;
    }
    .ncsProcess .inner .leftTit h2:after{font-size: 0.9rem; left: 43%;}
    .ncsProcess .inner .swiper{width: 95%; margin-left: 10px;}
    .ncsProcess .inner .mySwiper_2 .imgBox{
        width:300px; height: 190px; transform:scale(0.8);
    }
    .ncsProcess .swiper-slide{transform: translateX(-78px);}
    .ncsProcess .swiper-slide.swiper-slide-active .imgBox{
        transform: scale(1.0); transition: all 0.5s ease;
    }
    .ncsProcess .swiper-slide.swiper-slide-active .textBox p.sans{
        margin-bottom: 89px;
    }
    .ncsProcess .swiper-pagination-fraction {
        right: -3%;
    }

    
    .study{width: 100%; height: 200vh;}
    .scroll_container .scrollTxt{font-size:20vw; }
    .study .inner{max-width: 95%;}
    .study .inner .log{margin-left: -2vw;}
    .study .inner .log li{width: 48%; margin-left: 17px;}
    .study .inner .log li:nth-child(2), .study .inner .log li:nth-child(5), .study .inner .log li:nth-child(3n){
        transform: translateX(0px);
    }

}
/* 모바일해상도 767px 이하 */
@media screen and (max-width: 767px){
    .main{width: 100%; height: 100vh;}
    .main .inner{max-width: 95%;}
    .main .inner .titBox{font-size: 18vw;
        transform:translateX(38px) translateY(-100px);
    line-height: 1.1;}
    .main .inner .titBox::before{width: 110px; height: 95px;  right:2%; top:5%;
    }
    .main .inner .titBox span{margin-left:0%; }
    .main .inner .txtBox{font-size: 2.5vw; width: 55%; top: 70%; right: 25%;}
    .main .inner .txtBox br.mo{display: none;}

    .publishing{width: 100%;}
    .publishing .inner{max-width: 95%;
    }
    .publishing .inner .leftTit{transform: translateX(-40px);}
    .publishing .inner .leftTit h2:after{left: 38%; font-size: 0.85rem;}
    .publishing .inner .leftTit h2{font-size: 8vw;}
    .publishing .inner .swiper{width: 95%; margin-top: 0px; margin-left: 10px;}
    .publishing .inner .swiper .swiper-slide.swiper-slide-active .textBox .sTxt{
        top:-50%; left:-10%; transform: rotate(0deg); font-size: 3vw;
    }
    .publishing .inner .swiper .swiper-slide.swiper-slide-active .textBox .bTxt{
        left: 20%; top: -195%; font-size:8vw;
    }
    .publishing .swiper-slide.swiper-slide-active .textBox .details p{
        width: 70%; margin-left: 10px;
    }
    .publishing .inner .swiper .swiper-slide{transform: translateX(100px);}
    .publishing .swiper-pagination-fraction:before, .publishing .swiper-pagination-fraction:after{
        right: 13%;
    }
    
    .publishing .swiper-slide.swiper-slide-active .textBox .details p{margin-left: -4px; width: 68%;}
    .publishing .swiper-pagination-current{right:23%;}

    .ncsProcess{width: 100%;}
    .ncsProcess .inner{max-width: 95%;}
    .ncsProcess .inner .leftTit h2{font-size: 8vw; padding-left: 22px;}
    .ncsProcess .inner .leftTit h2:after{left: 31%; font-size: 0.85rem;}
    .ncsProcess .swiper-slide{transform: translateX(75px);}
    .ncsProcess .swiper-slide.swiper-slide-active .textBox p.sans{width: 65%; margin-top: 43px;
    margin-bottom: 115px;}
    .ncsProcess .swiper-pagination-fraction{right:14%;}
    .ncsProcess .swiper-pagination-current{right: 26%;}
    .ncsProcess .swiper-pagination-fraction:before, .ncsProcess .swiper-pagination-fraction:after {
    right: 14%;
    }

    
    .study{width: 100%; height: 270vh;}
    .scroll_container{margin-bottom: 200px;}
    .study .inner{max-width: 95%;}
    .study .inner .log{margin-left: 4vw;}
    .study .inner .log li{width: 93%; margin-left: 17px; margin-bottom: 89px;}
    .study .inner a.cab{margin-left: 35vw; }
}



