@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');


/* section.main */
.main{
    width: 100%; overflow: hidden; height: 100vh;
    margin-bottom: 115px; background: #f7f7f7;
}
.main .inner{
    width: 1660px; margin:20px auto 0;  margin-top: 130px;
    position:relative;
}

.main .inner h3{
    font-size:33px; text-align: center; font-weight: 500; margin-bottom: 40px;
}

.main .inner h2{
    font-size:160px; line-height:1.1; font-weight: 500;text-align: center;
}
.main .inner .mainTitBox h2:nth-child(2){
    transform: translateX(0px);
}
.main .inner .mainTitBox h2:nth-child(3){
    transform: translateX(0px);
}
.main .inner .mainTitBox h2:nth-child(4){
    transform: translateX(0px);
}
.main .inner h2 span{
    color:transparent; font-weight: 700; 
    position: relative; white-space: nowrap;
}

.main .inner h2 span:after{
    content:"SOYOUNG"; position:absolute; top:0; left:0;
    width:100%; height: 100%; overflow: hidden; -webkit-text-stroke: 1px #000;
    border-right:1px solid black; animation: typing 5s steps(30) infinite;
    overflow: hidden;
}


.main .inner h2 img{
display: inline-block; margin: 0 10px 90px;
}
.main .inner .list{
    position:absolute; bottom: -6%; right: 10%;
    text-align: center;
}
.main .inner .list li{
    font-size:18px; color:#787878; font-weight: 500;
    margin-bottom: 5px;
}
.main .inner .img_1{
    position:absolute; bottom: 4%; left:13%;

}
.main .inner .img_2{
    position:absolute;  top:18%; right: 15%;
}
.main .inner .img_3{
    position:absolute; right: 10%; top: 51%;
    animation:rotateImg 4s linear infinite;
}
@keyframes rotateImg {
    100%{
        transform:rotate(360deg);
    }
}



/* main_animation 효과 */
.main .inner h3 .char{
    display: inline-block;
    animation: slide-up 0.4s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(60ms * var(--char-index));
}
@keyframes slide-up {
    0%{
        transform: translateY(30px);
        opacity:0;
    }
    30%{
        transform: translateY(30px);
        opacity:0;
    }
}



/* section_about */
.about{
    width: 100%; overflow: hidden;
    margin-bottom: 200px;
}
.about .inner{
    width: 1660px; margin:0 auto;
}

.about .inner .titBox h2.bw{
    font-size:65px; font-weight: 500; text-align: center; margin-bottom: 10px;
}
.about .inner .titBox h2 span.bq{
    transform:translate(-70px,0);
}
.about .inner .titBox h3.serif{
    text-align: center; font-size: 18px;
}


/* animation -motion 
@keyframes fadeIn {
    0%{opacity:0; transform:translate(0,-100px);}
    100%{opacity:1; transform:translate(0,0px);}
}

.about .profile .inner.motion .titBox{
    animation: fadeIn 0.8s ease-in-out;
}
.about .profile .inner.motion .txtBox{
    animation: fadeIn 1s ease-in-out;
} */


.about .profile .inner .titBox{
    text-align:right; padding: 25px 0; 
    box-sizing: border-box; margin-right: 200px; margin-bottom: 25px;
}
.about .profile .inner .titBox h2{
    font-size: 88px; font-weight: 500;
}

.about .profile .inner .titBox span.bq{
    display: inline-block; color:transparent; font-weight: 700;
    position:relative; white-space: nowrap;
}
.about .profile .inner .titBox span.bq:after{
    content:'JO SO YOUNG'; position:absolute; -webkit-text-stroke: 1px #000;
    top:0; left:10%; border-right: 1px solid #000; width: 100%; height: 100%;
    animation: typing 6s steps(45) infinite; overflow: hidden; 
    box-sizing: border-box; padding-left: 10px;
}

@keyframes typing {
    0%{
        width:0%;
    }
    50%{
        width:100%;
    }
    100%{
        width:0%;
    }
}

/* animation */
.about .profile .inner.motion .titBox h2:nth-child(1) .char{
    display: inline-block;
    animation: slide-up 0.5s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(60ms * var(--char-index));
}


.about .profile .inner .profileImg{
    width: 40%; transform:translate(35%,-5%); float:left;
}
.about .profile .inner .profileImg img{
    display: block;
}
.about .profile .inner .profileImg img:nth-child(1){
    position:relative;
}
.about .profile .inner .profileImg img:nth-child(2){
    position:absolute; left:20%; top:-8%;
}
.about .profile .inner .profileImg img:nth-child(3){
    position:absolute; left:16%; top:12%;
}

.about .profile .inner .txtBox{
    margin-bottom: 40px; text-align: left;
    display: block; padding: 45px 150px 150px; box-sizing: border-box;
    width: 50%; float:right;
}
.about .profile .inner .txtBox > h3{
    font-size:24px; font-weight: 400; margin-bottom: 25px;
}
.about .profile .inner .txtBox >p{
    width: 70%;  margin-bottom: 30px;
    text-align: justify; line-height: 1.6; font-size: 15px;
}
.about .profile .inner .txtBox a{
    display: inline-block; margin-bottom: 35px;color:#fff; padding:10px 30px;
    font-size: 16px; background: #000; border-radius: 40px;
}
.about .profile .inner .txtBox a:hover, .about .profile .inner .txtBox a:focus{
    background:rgba(255,234,0,0.9); color:#000; box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}
.about .profile .inner .txtBox .edu{
    margin-bottom: 35px;
}
.about .profile .inner .txtBox h3.bw{
    font-size: 20px; font-weight: 500; margin-bottom: 15px;
    position:relative; z-index: 2;
}
.about .profile .inner .txtBox h3.bw::after{
    position: absolute; content:''; background:rgba(255,234,0,0.7); 
    width:25%; height: 23px; left:-1%; z-index: -1; top:-2%;
}
.about .profile .inner .txtBox .edu p,.about .profile .inner .txtBox .cert p {
    font-size: 15px; margin-bottom: 5px;
}



/* skills */
.skills{
    width: 100%; overflow: hidden;

}
.skills .inner{
    width: 1660px; margin: 0 auto; padding: 95px 30px; box-sizing: border-box;
    height:900px;
}
.about .skills .inner .icon_skill{
    display: none;
}
.iconTab{
    width: 100%;  position: relative;
}
.iconTab .topList, .iconTab .bottomList{
    width: 65%; margin: 0 auto;
    display: flex; justify-content: space-between;
}
.iconTab .topList li,  .iconTab .bottomList li{
    text-align: center;
}
.iconTab .topList li a,  .iconTab .bottomList li a{
    display: block; width: 100%; height: 100%;
}
.iconTab .topList li a img,  .iconTab .bottomList li a img{
    width: 70px; height: 80px; display: block; 
}
.iconTab .topList li:nth-child(6) img{
    width: 80px;
}
.iconTab .topList li .cont,  .iconTab .bottomList li .cont{
    position:absolute;  left:0;  width: 100%;
    top: 35%; padding: 50px 30px; box-sizing: border-box;
    font-size: 6rem;display: none; transition: all 0.7s ease;
    background: #FFD500; -webkit-background-clip: text; -webkit-text-fill-color: transparent; 
}

.iconTab .topList li.on .cont,  .iconTab .bottomList li.on .cont{
    display:block; font-weight: 700; transition: all 0.7s ease;
}
.iconTab .topList li.on .cont:after,  .iconTab .bottomList li.on .cont:after{
    content:"%"; top:0; right:80%; font-size: 3rem;
}
.iconTab .titBox{
    width: 100%; padding: 175px 30px;
    box-sizing: border-box; text-align: center;
}
.iconTab .titBox h2{
    font-size:65px; font-weight: 500; text-align: center; 
    position: relative;
}
.iconTab .titBox h2:after{
    position: absolute; content:'아이콘에 마우스를 올려 보세요!';
    font-family: 'Noto Sans KR', sans-serif; font-weight: 300; font-size: 1rem; 
    bottom:-50%; left:44%; color:rgb(112, 111, 111); animation: blink_ani 0.5s linear infinite;
}
@keyframes blink_ani {
    0%{
        opacity:1; transition: opacity 0.3s ease;
    }
    100%{
        opacity:0; transition: opacity 0.3s ease;
    }
    
}

/* hover효과 */
.iconTab .topList li a img:hover,  .iconTab .bottomList li a img:hover{
    transform: scale(1.2); transition: all 0.5s ease;
}
/* animation */
.skills .titBox.motion .tit .char{
    display: inline-block;
    animation: slide-up 0.5s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(60ms * var(--char-index));
}



/* personality_marquee_text */
.personality{
    width: 100%; overflow-x: hidden;
}
.personality .marquee_text{
    width: 100vw; margin-bottom: 12vw; display: flex; color:#fff;
}
.personality .marquee_text:nth-child(2n-1){
    margin-top: 25vh; transform: rotate(-2deg); background: #000;
}
.personality .marquee_text:nth-child(2n){
    margin-top: 25vh; transform: rotate(2deg); background: #000; 
    justify-content: flex-end;
    /* flex-end: 끝에서부터 정렬된다. */
}
.personality p{
    display: flex; padding: 7vh 0; font-size: clamp(1vw, 5vw, 4rem);
    /* clamp 8vw 글꼴 크기이며, 최소 2vw, 최대 5rem까지 커질 수 있다. */
}


/* section.projects */
.projects{
    width: 100%;
    margin-bottom: 10vh; 
}
/* .projects.active{
    background-color: #ffd500; transition: background-color 0.8s ease;
} */
.projects .inner{
    width: 1660px; margin:0 auto;
}
/* gallery */
.projects .gallery{
    margin:50px 0;
}
.projects .gallery .inner .galTit{
    margin: 150px 0 150px;
}
.projects .gallery .inner .galTit h2.bw{
    font-size:65px; font-weight: 500; text-align: center; margin-bottom: 10px;
    display: inline-block; margin-right: 55px; margin-left: 80px;
}
/* .projects .gallery .inner .galTit h2 span{
    color:transparent; -webkit-text-stroke: 1px #000; font-weight: 700;
} */
.projects .gallery .inner .galTit h3.serif{
    text-align: center; font-size: 18px;
    display: inline-block;
}
.projects .gallery .inner .container{
    width: 90%; margin:0 auto; display: flex; justify-content: space-between;
}
.projects .gallery .inner .container .gal{
    margin-right: 70px;flex-shrink: 0!important;
}
.projects .gallery .inner .container .gal:nth-child(2n-1){
    margin-top:130px; 
}
.projects .gallery .inner .container .gal:nth-child(2n){
    margin-top:25px;
}
.projects .gallery .inner .container .gal:nth-child(3n){
    margin-top: 80px;
}
.projects .gallery .inner .container_2{display: none;}



/* animation */
.projects .gallery.motion .galTit h2.bw .char{
    display: inline-block;
    animation: slide-up 0.3s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(60ms * var(--char-index));
}
/* ncs */
.projects .ncs{
    margin:200px 0 100px;
}

.projects .ncs .inner .ncsTit h2.bw{
    font-size:65px; font-weight: 500; text-align: center; margin-bottom: 10px;
    text-align: right; transform: translateX(-150PX);
}

.projects .ncs .inner .ncsTit h3.serif{
    text-align: center; font-size: 18px; transform: translate(70px,52px);
}
.projects .ncs .inner .swiper{
    width: 100%; padding: 30px; box-sizing: border-box;
}
.projects .ncs .inner .swiper .swiper-wrapper .swiper-slide{
    margin:30px auto;
}

/* animation */
.projects .ncs .inner.motion .ncsTit h2 .char{
    display: inline-block;
    animation: slide-up 0.3s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(60ms * var(--char-index));
}

/* section.study */
.study{
    width: 100%; overflow: hidden; height: 1700px;
    padding: 100px 0; box-sizing: border-box;
    background: #fff;
}
.scroll_container{
    width: 100%; margin-bottom: 280px;
}



.scroll_container .scrollTxt{
    font-size: 200px; font-weight: 800; -webkit-text-stroke: 1px #000;
    color:transparent;
}
.scroll_container .scrollTxt:nth-child(2){
    float:right;
}
.study .inner{
    padding: 50px 0; box-sizing: border-box;
    width: 1660px; margin:20px auto 0px; 
}
.study .inner .log{
    display: flex; flex-wrap: wrap; margin-left: 25px;
}
.study .inner .log li{
    width: 30%; height: 240px; 
    margin: 10px 35px 150px 10px; padding: 20px; box-sizing: border-box;
}
.study .inner .log li a{
    color:#fff; background: #000; display: block; 
    width: 80%; height: 70%; margin-left: 40px;
    font-weight: 400; padding: 30px; border-radius: 40px;
    position: relative; transition:0.3s ease;
}
.study .inner .log li a:after{
    content:'2022. 11. 28.'; position: absolute; right:10%; bottom: 12%;
    font-size: 15px; font-family: 'Noto Sans KR', sans-serif;
}
.study .inner .log li:nth-child(1) a:after{
    content:'2023. 1. 16.'
}
.study .inner .log li a:hover, .study .inner .log li a:focus{
    color:#000; background: #FFD500; transform:translateY(-10px);
}
.study .inner .log li a h3{
    margin-bottom: 20px; font-weight: 400; font-size: 18px;
}
.study .inner .log li:nth-child(2), .study .inner .log li:nth-child(5){
    transform:translateY(-40px);
}
.study .inner .log li:nth-child(3n){
    transform:translateY(40px);
}
.study .inner a.cab{
    background: #000; color:#fff; display: inline-block;border-radius: 40px;
    padding: 12px 25px; text-align: center; margin-left: 775px;
}
.study .inner a.cab:hover, .study .inner a.cab:focus{
    background: #ffd500; color:#000; transition: all 0.2s ease;
    box-shadow:3px 3px 5px rgba(0,0,0, 0.2);
}

/* animation */
.scroll_container.motion .text_left{
    animation: text_left 0.5s ease-in-out;
}
.scroll_container.motion .text_right{
    animation: text_right 0.5s ease-in-out;
}
@keyframes text_left {
    0%{
        transform: translateX(-250px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        
    }
}
@keyframes text_right {
    0%{
        transform: translateX(250px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        
    }
}

.study .inner .log.motion li{animation:slideDown 0.5s ease-in-out; }

@keyframes slideDown {

    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* reponsive web */
/* 1401~1720px */
@media screen and (max-width:1720px){
    body{transition: all 0.3s ease;}
    /* section.main */
    .main{width: 100%;}
    .main .inner{max-width:95%;}
    .main .inner h3{font-size: 1.5rem; margin-bottom: 80px;}
    .main .inner h2{font-size: 7rem;}
    .main .inner h2 img{width: 20px; height: 30px;}
    .main .inner .list{right: 12%; bottom: -20%;}
    .main .inner .list li{font-size: 1rem;  margin-bottom: 8px;}
    .main .inner .img_1{left: 15%; bottom: 3%; width: 200px;}
    .main .inner .img_1 img, .main .inner .img_2 img, .main .inner .img_3 img{width: 100%;}
    .main .inner .img_2{right: 17%; width: 100px; top: 20%;}
    .main .inner .img_3{right: 11%; width: 90px; height: 90px;}

    /* section.about */
    .about{width: 100%;}
    .about .profile .inner{max-width: 95%;}
    .about .profile .inner .titBox h2{font-size:5rem;}
    .about .profile .inner .profileImg{width: 30%; transform:translate(50%,-2%);}
    .about .profile .inner .profileImg img:nth-child(1){display: none;}
    .about .profile .inner .profileImg img:nth-child(2){display:none;}
    .about .profile .inner .profileImg img:nth-child(3){transform:translate(10px,50px);}
    .about .profile .inner .txtBox h3.sans{font-size: 21px;}
    .about .profile .inner .txtBox p.sans{font-size: 17px;}
    .about .profile .inner .txtBox h3.bw{font-size: 20px;}
    .about .profile .inner .txtBox h3.bw::after{width: 32%; height: 20px;}
    .about .profile .inner .txtBox .edu p,.about .profile .inner .txtBox .cert p{font-size: 1rem;}

    .about .skills .inner{max-width: 92%;}

    /* section_projects */
    .projects{width: 100%;}
    .projects .gallery .inner{max-width: 90%;}
    .projects .gallery .inner .galTit h2, .projects .ncs .inner .ncsTit h2{font-size:4.5rem;}
    .projects .gallery .inner .galTit h3.serif, .projects .ncs .inner .ncsTit h3.serif{font-size: 1.2rem;}
    .projects .gallery .inner .container{max-width: 90%;}
    .projects .gallery .inner .container .gal{margin-right: 85px;}
    .projects .gallery .inner .container_2{display: none;}

    .projects .ncs .inner{max-width: 90%;}
    .projects .ncs .inner .ncsTit h3.serif{transform: translate(-70px,52px);}
    .projects .ncs .inner .swiper{width: 90%;}
    .projects .ncs .inner .swiper .swiper-wrapper .swiper-slide{width: 180px; }
    .projects .ncs .inner .swiper .swiper-wrapper .swiper-slide img{width: 100%;}

    /* study */
    .study{
        width: 100%;
    }
    .scroll_container{
        max-width: 99%;
    }
    .study .inner{max-width: 95%;}
    .study .inner .log{margin-left: 10px;}
    .study .inner .log li{margin: 10px -15px 150px 30px;  height: 230px; 
    width: 32%;}
    .study .inner a.cab{margin-left: 42vw; transition:all 0.5s ease;}
}

/* 1400px~1024px */
@media screen and (max-width: 1400px){
    /* main */
    .main .inner h3{transform: translateY(30px); margin-bottom: 100px;}
    .main .inner h2{font-size: 6.5rem;}
    .main .inner .mainTitBox h2:nth-child(3){
        transform: translateX(-10px);
    }
    .main .inner .list{width: 70%; right:13%; display: flex;
    justify-content: space-around; bottom: -13%;}
    .main .inner .img_1{left: 11%; bottom: 3%; width: 200px;}
    .main .inner .img_2{right: 14%; width: 100px; top: 23%;}
    .main .inner .img_3{right:14%; width: 90px; height: 90px;}
    /* about */
    .about{width: 100%;}
    .about .profile{margin-bottom: 100px;}
    .about .profile .inner{max-width: 95%;}
    .about .profile .inner .titBox h2{font-size:4.5rem}
    .about .profile .inner .profileImg img:nth-child(3){width: 400px; height: 480px; top: 25%;}
    .about .profile .inner .txtBox{transform: translate(150px,150px); width: 65%;}
    .about .profile .inner .txtBox > p{margin-bottom: 50px;}
    .about .profile .inner .txtBox a{margin-bottom: 60px;}
    .about .profile .inner .txtBox .edu,.about .profile .inner .txtBox .cert{display: none;}
    .about .skills{ margin-top: 100px;}
    .about .skills .inner{max-width: 90%;}
    .iconTab .topList li a img,  .iconTab .bottomList li a img{
        width: 60px; height: 70px; display: block; 
    }
    .iconTab .topList li:nth-child(6) img{
        width:70px;
    }
    .iconTab .titBox h2.tit{font-size:3rem;}
    .iconTab .titBox h2:after{left: 41%;}

    .about .personality .marquee_text{
        width: 100vw; margin-bottom: 12vw; display: flex; color:#fff;
    }
    .projects .gallery .inner .galTit h2.bw{margin-bottom: 25px;}
    .projects .gallery .inner .galTit h2.bw, .projects .gallery .inner .galTit h3.serif{display: block;}
    .projects .gallery .inner .galTit h2, .projects .ncs .inner .ncsTit h2{font-size: 4rem;}
    .projects .gallery .inner .galTit h3.serif, .projects .ncs .inner .ncsTit h3.serif{font-size: 1.1rem;}
    .projects .gallery .inner .container{transform: translate(50px);}
    .projects .gallery .inner .container .gal{width: 700px;}
    .projects .gallery .inner .container_2{display: none;}
    .projects .ncs .inner{max-width: 90%;}
    .projects .ncs .inner .ncsTit h2.bw{width: 100%; text-align: center; padding-left: 150px;
    margin-bottom: 35px;}
    .projects .ncs .inner .ncsTit h3.serif{
        text-align: center; transform: translate(0px,120px);
    }
    .projects .ncs .inner .swiper .swiper-wrapper .swiper-slide{width: 150px; }
    .projects .ncs .inner .swiper .swiper-wrapper .swiper-slide img{width: 100%;}

   /* study */
    .study{width: 100%;}
    .scroll_container .scrollTxt{
        font-size: 182px;
    }
    .study .inner {
        max-width: 95%;
    }
    .study .inner .log{
        margin-left: 19px;
    }
    .study .inner .log li{
        margin-left: 12px;
    }
    .study .inner .log li a h3{font-size: 17px;}
    .study .inner a.cab{margin-left: 42vw; transition:all 0.5s ease;}
}

@media screen and (max-width:1000px){
    /* main */
    .main{width: 100%;}
    .main .inner{max-width:95%;}
    .main .inner h2{font-size: 5.5rem;}
    .main .inner .img_1, .main .inner .img_2{display: none;}
    .main .inner .mainTitBox h2:nth-child(2){transform: translateX(-5px); margin-bottom: 10px;}
    .main .inner .mainTitBox h2:nth-child(3){transform: translateX(20px);margin-bottom: -10px;}
    .main .inner .mainTitBox h2:nth-child(4){transform: translateX(15px);}
    .main .inner .img_3{right:41%; width: 30px; height: 30px;top:7%; }

    /* about */
    .about .profile .inner .titBox h2{font-size: 4rem; transform: translate(100px,0);}
    .about .profile .inner .titBox h2:nth-child(2){display: inline-block; transform: translateX(50px);}
    .about .profile .inner .titBox h2:nth-child(3){display: inline-block;}
    .about .profile .inner .profileImg{clear: both;}
    .about .profile .inner .profileImg img:nth-child(3){width: 300px; height: 350px; top: 25%;}
    .about .profile .inner .txtBox{transform: translate(180px, 40px);
        padding: 15px 100px 20px 10px; box-sizing: border-box; }
    .about .profile .inner .txtBox > h3{font-size: 1.5rem; padding: 15px;}
    .about .profile .inner .txtBox > p{font-size:10px; padding: 15px; box-sizing: border-box; }
    .about .profile .inner .txtBox a{transform: translate(10px,-20px);}
    .iconTab .topList li a img,  .iconTab .bottomList li a img{
        width: 50px; height: 60px; display: block; 
    }
    .iconTab .topList li:nth-child(6) img{
        width: 60px;
    }
    /* personality */
    .personality{width: 100%;}
    .personality .marquee_text{margin-bottom: 3vw;}
    .personality .marquee_text:nth-child(2n-1){margin-top: 3vh;}
    .personality .marquee_text:nth-child(2n){margin-top: 3vh;}
    .personality p{font-size: clamp(1vw, 7vw, 3rem);}

    /* projects */
    .projects .gallery .inner .galTit h2.bw, .projects .ncs .inner .ncsTit h2.bw{font-size: 3.5rem; margin-bottom: 5px;}
    .projects .gallery .inner .galTit h3.serif, .projects .ncs .inner .ncsTit h3.serif{font-size: 0.9rem;}
    .projects .ncs .inner .ncsTit h3.serif{transform: translateY(90px);}
    .projects .gallery .inner .container{display: none;}
    .projects .gallery .inner .container_2{display: block; width: 100%; height: 500px; padding: 10px; box-sizing: border-box;}
    .projects .gallery .inner .container_2 ul{width: 95%; display: flex; flex-wrap: wrap; margin:0 auto;
    transform: translateY(-90px);}
    .projects .gallery .inner .container_2 ul li{width:22%;transform: translateX(80px);
        margin-bottom: 35px; 
    }
    .projects .gallery .inner .container_2 ul li a{width: 100%; height: 100%; display: block;}
    .projects .gallery .inner .container_2 ul li a .imgBox{width: 150px; height: 150px;position: relative; z-index:-1;}
    .projects .gallery .inner .container_2 ul li a .imgBox img{width: 100%; height: 100%;}
    .projects .gallery .inner .container_2 ul li a:hover .imgBox:after, .projects .gallery .inner .container_2 ul li a:focus .imgBox:after{position:absolute; content:'';
    background-color:rgba(255,255,255, 0.6); width: 100%; height: 100%; z-index:3; transition: all 0.5s ease;
    top:0; left:0;}
    .projects .gallery .inner .container_2 ul li a:hover .imgBox:before, .projects .gallery .inner .container_2 ul li a:focus .imgBox:before{
        position:absolute; content:'MORE →'; font-family: 'Cabinet Grotesk', sans-serif; 
        font-style: italic; font-weight: 500; top:50%; left: 50%; transform: translate(-50%,-50%);
        color:#FF4E00;z-index: 5; font-size: 0.9rem;
    }
    /* study */
    .study{width: 100%; height: 200vh;}
    .scroll_container .scrollTxt{font-size:20vw; }
    .study .inner{max-width: 95%;}
    .study .inner .log{margin-left: -2vw;}
    .study .inner .log li{width: 48%; margin-left: 17px;}
    .study .inner .log li:nth-child(2), .study .inner .log li:nth-child(5), .study .inner .log li:nth-child(3n){
        transform: translateX(0px);
    }
}

/* 모바일해상도 767px 이하 */
@media screen and (max-width: 767px){
    /* main */
    .main{width: 100%; height: 100vh;}
    .main .inner{max-width:95%;transform: translateY(50px);}
    .main .inner h3{font-size: 1rem; margin-bottom: 80px;}
    .main .inner h2{font-size: 3rem;}
    .main .inner .img_1, .main .inner .img_2{display: none;}
    .main .inner .mainTitBox h2:nth-child(2){transform: translateX(0px); margin-bottom: -8px;}
    .main .inner h2 img{width: 15px; height: 20px; transform: translateY(15px);}
    .main .inner .mainTitBox h2:nth-child(3){transform: translateX(0);margin-bottom:0px;}
    .main .inner .mainTitBox h2:nth-child(4){transform: translate(0px,-25px);}
    .main .inner .img_3{right:37%; width: 20px; height: 20px;top:8.5%; }
    .main .inner .list{width: 70%; right:13%; display: flex;
        justify-content: space-between; bottom: -13%;}
    .main .inner .list li{font-size: 0.8rem;}

    /* about */
    .about .profile{position: relative; height: 1000px;}
    .about .profile .inner .titBox{text-align: left;}
    .about .profile .inner .titBox h2{font-size: 2.8rem; transform: translate(100px,0);}
    .about .profile .inner .titBox h2:nth-child(2){display: inline-block; transform: translateX(100px);
    }
    .about .profile .inner .titBox h2:nth-child(3){display: inline-block;
        transform: translateX(125px);}
    .about .profile .inner .profileImg{clear: both;}
    .about .profile .inner .profileImg img:nth-child(3){width: 300px; height: 350px; top: 15%;}
    .about .profile .inner .txtBox{position:absolute; padding:0;
        bottom:-5%; left:-15%;}
    .about .profile .inner .txtBox > h3{font-size: 1rem; padding: 5px;  margin-bottom: 10px;}
    .about .profile .inner .txtBox > p{font-size:10px; padding: 5px; box-sizing: border-box; width: 100%; }
    .about .profile .inner .txtBox a{
        display: inline-block; margin-bottom: 35px;color:#fff; padding:5px 20px;
        font-size: 12px; background: #000; border-radius: 40px; transform: translate(10px,-20px);
    }

    /* skill */
    .about .skills{height: 900px; margin-bottom: 100px;}
    .about .skills .inner .iconTab{display: none;}
    /* tablet, pc 모드 on */
    .about .skills .inner .icon_skill{display: block;}
    .about .skills .inner .icon_skill ul{display: flex; flex-wrap: wrap;
    width: 98%; margin:0 auto; margin-left: 10px; }
    .about .skills .inner .icon_skill ul li{width: 25%; margin-bottom: 70px; margin-left: 20px;}
    .about .skills .inner .icon_skill ul li .iconBox{width: 60px; height: 70px; margin: 0 auto;}
    .about .skills .inner .icon_skill ul li .iconBox img{width: 100%; height: 100%;}
    .about .skills .inner .icon_skill ul li .count{font-size: 2rem; color:#ffd500; font-weight: 700;
        margin-top: 20px; text-align: center;}

    /* personality */
    .personality{width: 100%;}
    .personality .marquee_text{margin-bottom: 3vw;}
    .personality .marquee_text:nth-child(2n-1){margin-top: 3vh;}
    .personality .marquee_text:nth-child(2n){margin-top: 3vh;}
    .personality p{font-size: clamp(1vw, 6vw, 3rem); padding: 3vh 0;}

    /* projects */
    .projects{width: 100%;}
    .projects .gallery{margin:10px 0;}
    .projects .gallery .inner{max-width: 90%; }
    .projects .gallery .inner .galTit h2.bw, .projects .ncs .inner .ncsTit h2.bw{font-size: 2.5rem;}
    .projects .gallery .inner .galTit h3.serif, .projects .ncs .inner .ncsTit h3.serif{font-size: 0.85rem;
    }
    .projects .ncs .inner .ncsTit h3.serif{transform: translateY(80px);}
    .projects .gallery .inner .container{display: none;}
    .projects .gallery .inner .container_2{display: block; width: 100%; height: 500px; padding: 10px; box-sizing: border-box;}
    .projects .gallery .inner .container_2 ul{width: 95%; display: flex; flex-wrap: wrap; margin:0 auto;
    transform: translate(-45px,-90px);}
    .projects .gallery .inner .container_2 ul li{width:30%;transform: translateX(80px);
        margin-bottom: 15px; 
    }
    .projects .gallery .inner .container_2 ul li a{width: 100%; height: 100%; display: block;}
    .projects .gallery .inner .container_2 ul li a .imgBox{width: 100px; height: 100px;position: relative; z-index:-1;}
    .projects .gallery .inner .container_2 ul li a .imgBox img{width: 100%; height: 100%;}
    .projects .gallery .inner .container_2 ul li a:hover .imgBox:after, .projects .gallery .inner .container_2 ul li a:focus .imgBox:after{position:absolute; content:'';
    background-color:rgba(255,255,255, 0.6); width: 100%; height: 100%; z-index:3; transition: all 0.5s ease;
    top:0; left:0;}
    .projects .gallery .inner .container_2 ul li a:hover .imgBox:before, .projects .gallery .inner .container_2 ul li a:focus .imgBox:before{
        position:absolute; content:'MORE →'; font-family: 'Cabinet Grotesk', sans-serif; 
        font-style: italic; font-weight: 500; top:50%; left: 50%; transform: translate(-50%,-50%);
        color:#FF4E00;z-index: 5; font-size: 0.6rem;
    }

    .projects .ncs{transform: translateY(-150px); height: 400px;}
    .projects .ncs .inner{max-width: 90%;}
    .projects .ncs .inner .swiper{width: 95%;}
    .projects .ncs .inner .swiper .swiper-wrapper .swiper-slide{width: 100px; padding: 30px; box-sizing: border-box; }
    .projects .ncs .inner .swiper .swiper-wrapper .swiper-slide img{width: 100%;}

    /* study */
    .study{width: 100%; height: 270vh;}
    .scroll_container{margin-bottom: 200px;}
    .study .inner{max-width: 95%;}
    .study .inner .log{margin-left: 4vw;}
    .study .inner .log li{width: 93%; margin-left: 17px; margin-bottom: 89px;}
    .study .inner a.cab{margin-left: 35vw; }
    
}