@charset "utf-8";
/* codemenu */


.wrap{
    scroll-behavior: smooth;
}


/* main .bg:after{
    content:''; position:absolute; background: #000; width:100%; height: 550px;
    bottom:25%; left:0;
} */

nav li a{
    color:#000;
}
main .prev{
    position:absolute; top:50%; left:1%; z-index: 10; color:#000;
    font-size: 18px; font-weight: 500;
}
main .next{
    position:absolute; top: 50%; right:1%; z-index:10;color:#000;
    font-size: 18px;font-weight: 500;
}
main .prev:hover, main .next:hover, main .prev:focus, main .next:focus{
    font-style: italic; transition: all 0.5s ease;
}


main .inner{
    width: 98%; margin: 100px auto; height: 80vh; display: flex;
    justify-content: space-around;
}
main .inner .imgBox{
    width: 60%; height: 65vh;
    transform:translate(80px,50px);  
}
main .inner .imgBox img{
    width: 100%; height: 100%;
}



main .inner .textBox{
    width: 20%; margin-top: 95px; margin-right: 150px;
}
main .inner .textBox h2{
    font-size: 43px; font-weight: 800;text-align:right;
}
main .inner .textBox h2 span{
    display: block; 
}
main .inner .textBox h3{
    color:#787878; font-size: 18px; font-weight: 400;
    text-align:right; margin-bottom: 10vw;
}
main .inner .textBox .btn{
    display: flex; justify-content: space-between;
    margin-bottom: 2vw; color:#000; 
    
}
main .inner .textBox .btn li{
    padding: 6px 25px; box-sizing: border-box; background: #000;
    border-radius: 12px;
}
main .inner .textBox .btn li a{
    display: block; width: 100%; height: 100%;color:#fff;
    font-size: 15px;
}
main .inner .textBox .btn li:hover, main .inner .textBox .btn li:focus{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

main .inner .textBox .point{
    color:#000;
}
main .inner .textBox .point li{
    font-size:16px; font-weight: 400; margin-bottom: 3px;
}
main .inner .textBox .point li:nth-child(1){
    font-size:30px; font-weight: 800; margin-bottom: 10px;
}

/* section fullpage */
.full{
    width: 100%; margin-bottom: 150px;
    
}
.full .inner{
    width: 1660px; margin:0 auto;
}
.full .inner h2{
    font-size: 2.5vw; 
    padding-left: 200px;
}
.full .mockupImg{
    width: 100%; margin: 0 auto;
    
    
}
.full .mockupImg img{
    width: 100%; transform: translateY(-100px); display: block;
    transform: scale(1.5); 
    
}
.full .fullImg{
    width: 100%; margin:0 auto;
}
.full .fullImg img{
    width: 100%; display: block; margin:0 auto;
}
/* .full .fullImg.ajou h3{
    font-size: 30px;
    
}
.full .fullImg.ajou img{
    width: 100%; display: block; margin:100px auto;
} */



/* responsive web */
/* 1720px~1401px */
@media screen and (max-width:1720px){
    main{width:100%;overflow: hidden; margin-bottom: 180px;}
    main .bg{width: auto; height: auto;}
    main .prev, main .next{top: 45%;}
    main .inner{max-width: 95%; }
    
    
    main .inner .imgBox{width: 90vw; height: 100vh;transform:translate(-150px, 80px); }
    main .inner .textBox h2{font-size:4rem;}
    main .inner .textBox h3{margin-bottom: 3.5vw;}
    main .inner .textBox .btn{margin-bottom: 3.5vw;}
    main .inner .textBox{top:35%;}
    main .inner .textBox .btn li{
        padding: 10px 30px;
    }
    
    /* fullpage */
    .full{width: 100%;}
    .full .inner{max-width: 95%;}
    .full .inner h2.cab{font-size: 2.5vw;}
    .full .mockupImg img{transform: scale(1.3);}

}
/* 1400px~1024px */
@media screen and (max-width: 1400px){
    main{width: 100%;}
    main .inner{max-width: 95%; }
    main .prev, main .next{font-size: 18px;}
    main .inner .textBox{top:37%;}
    main .inner .textBox h2{font-size: 3rem;}
    main .inner .textBox h3{font-size: 16px;}
    main .inner .textBox .btn li{padding: 5px 20px;}
    
    main .inner .imgBox img{width: 100%; height: 92%; transform: translate(38px,0);}
    main .inner .textBox .point li{font-size: 1.4vw;}
    main .inner .textBox .point li:nth-child(1){margin-bottom: 20px;}
    /* fullpage */
    .full{width: 100%;}
    .full .inner{max-width: 95%;}
    .full .inner h2{font-size: 2.5vw;}
    .full .mockupImg img{transform: scale(1.3);}
    .full .fullImg img{transform: translateY(-20px);}
    
}
/* 1024이하 tablet  768까지*/
@media screen and (max-width:1000px){
    main{width: 100%; margin-bottom: 120px;}
    main .prev, main .next{font-size: 16px; top:45%;}
    main .inner{max-width: 95%; top:-25%; left:0%;}
    main .inner .imgBox{margin-top: 100px;}
    main .inner .imgBox img{height: 70%;}
    main .inner .textBox{right:12%; width: 32%; top: 38%;}
    main .inner .textBox h2 {
        font-size: 2.5rem;
    }
    main .inner .textBox h3 {
        font-size: 2vw;
    }
    main .inner .textBox .btn li a{font-size: 0.8rem;}
    main .inner .textBox .point li:nth-child(1){font-size: 1.5rem;}
    
    .full .inner h2{padding-left: 100px;}
    .full .mockupImg img{transform: scale(1.5);}
    .full .fullImg img{transform: translateY(0px);}
    
}
/* 모바일해상도 767px 이하 */
@media screen and (max-width: 767px){
    main{width: 100%;}
    main .prev, main .next{font-size: 12px;top:37%;}
    main .inner{max-width: 95%;top:3%; left:0%;}
    
    main .inner .imgBox{display: none;}
    main .inner .textBox{right:5%; width: 75%; top:-60%; }
    main .inner .textBox h2{text-align: left;font-size: 3.5rem;}
    main .inner .textBox h3 {
        font-size: 3vw;text-align:left; margin-bottom: 15vw;
    }
    main .inner .textBox .btn{flex-direction: column; justify-content: space-around;
    margin-bottom: 50px;}
    main .inner .textBox .btn li{width: 80%; text-align: center; padding: 10px 30px;
        margin-bottom: 30px;}
    main .inner .textBox .point{ width: 100%;}
    main .inner .textBox .point li:nth-child(1){margin-bottom: 8px;}
    main .inner .textBox .btn li a{font-size: 1rem;}
    main .inner .textBox .point li{font-size: 2.5vw; margin-bottom: 8px;}
    main .inner .textBox .point li:nth-child(1){font-size: 2rem;}

    .full .inner h2{padding-left: 50px;}
    .full .mockupImg img{transform: scale(1.5);}
}